@font-face {
    font-family: 'VCR Mono';
    src: url('./assets/HomeVideo-BLG6G.ttf');
}

@font-face {
    font-family: 'VCR Mono Bold';
    src: url('./assets/HomeVideoBold-R90Dv.ttf');
}

* {
    font-family: 'VCR Mono', monospace;
}