/* Date display styles */
.date-display {
    background-color: black;
    font-family: 'VCR Mono', monospace;
}

/* Checkbox styles */
.checkbox {
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--border-color);
}

